<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Asset Tracking System - View Assets</title>
  <link rel="stylesheet" href="./styling/styles.css">
</head>
<body>
  <!-- <div id="assetsContainer"></div> -->
  <div id="assetsContainer" class="container">
    <h1>View Assets</h1>
    <table id="assetTable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <!-- Assets will be dynamically added here -->
      </tbody>
    </table>
  </div>
  <script src="./js/view_assets.js"></script>
  <script src="./js/delete.js"></script>
  <script src="./js/update.js"></script>
</body>
</html>
